<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>

<!--OAuth 로그인 버튼을 표시한다.-->
    <div class="py-5 text-center">
        <a th:href="@{/auth/login/oauth2/authorization/google}" class="btn btn-lg btn-primary">Google 로그인</a>
        <a th:href="@{/auth/login/oauth2/authorization/naver}" class="btn btn-lg btn-primary">Naver 로그인</a>
    </div>

    <form role="form" action="/auth/login" th:object="${memberLogInForm}" method="POST">

        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="text" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요."
                   th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">부적절한 이메일입니다.</p>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
                <input type="text" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요."
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">부적절한 비밀번호입니다.</p>
        </div>

        <button type="submit" class="btn btn-success">완료</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->


</body>
</html>
